/* General layout and centering */
body {
  background-image: url(background.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.5rem;
  font-family: Monaco;
}

/* Organize title */
h1 {
  margin-top: 13rem;
  margin-bottom: 0px;
}

/* Creates space for checkmark */
ul {
  margin-left: 10px;
  padding: 0;
}

/* Creates a cursor on note so users know it can be pressed and adjustments to note */
ul li {
  cursor: pointer;
  position: relative;
  list-style-type: none;
  font-size: 1.5rem;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Reveals checkmark when clicked */
ul li.checked {
  text-decoration: line-through;
}

/* Creates the checkmark */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: yellow;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 8px;
  left: -15px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Creates a gray layer on the screen to show that focus attention on center */
.hero {
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: rgba(1, 1, 1, 0.1);
  min-height: 40vh;
}

/* Delete button design */
.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.0rem;
  color: white;
  background: Crimson;
  border-radius: 12px;
  border-style: inset;
  border-color: gray;
}

/* Create a line separating input from list */
#separate {
  margin-top: 1rem;
  border-top: 2px solid white;
}

/* Make date gray to matc the website */
#dueDate {
  color: gray;
}
